/* h1 as a selector */
h1 {
    color:brown;
    background-color:antiquewhite;
    font-family:"Times New Roman", 'Times New Roman', Times, serif;
    border-width: 1px;
    border-style: solid;
    border-color: red;
}
/* h2 as a selector */
h2{
    background-color:aqua;
}
/* ul for ingredients and ol for steps*/
ul, ol{
    font-family:'Courier New', Courier, monospace;
    border-width: 1px;
    border-style: solid;
    border-color: red;
}
