body,html {
    margin: 0;
    padding: 0;
    display: flex;
}

* {
    box-sizing: border-box;
}

.grid{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vh;
    background: lightblue;
}

.display{
    flex: 1 1 auto;
    background: lightgrey;
    display: flex;
    align-items: center;
    justify-content: right;
}

.display > span{
    padding: 20px;
    font-size: 40px;
}

.operator{
    flex: 1 1 auto;
    background: lightgreen;
    gap: 20px;
    display: flex;
}

.op{
    flex: 1 1 auto;
    background: lightblue;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.numberEqualClear{
    flex: 3 1 auto;
    background: lightsalmon;
    display: flex;
}

.numberGrid{
    flex: 3 1 0;
    background: orange;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 5px 5px;
}

.num{
    background: rgb(228, 187, 112);
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.equalClear{
    flex: 1 1 0;
    background: lightgoldenrodyellow;
    display: flex;
    flex-direction: column;
    gap: 20px 5px;
}

.equalClear div{
    display: flex;
    align-items: center;
    justify-content: center;
}

#clear{
    flex: 1 1 auto;
    background: yellow;
    margin: 5px
}
#equal{
    flex: 2 1 auto;
    background: yellow;
    margin: 5px
}
