/* alterate css box styling */
html{
	box-sizing: border-box;
}

*, *::before, *::after{
	box-sizing: inherit;
}

/* header css */
.header{
    display: flex;
    margin-left: 40px; 
    margin-right: 40px;
}

.header div{
    border: 5px solid brown; /* change this here! */
    height: max-content;
    flex: 1 1 0%;
}

.header .headerlogo{
    flex: 2 1 0%;
}

/* hero css */
.hero {
    display: flex;
    margin-left: 40px;
    margin-right: 40px;
}

.herocontent, .heroimage{
    border: 5px solid brown;
    height: 500px;
    flex: 1 1 0%
} 

.herocontent{
    display: flex;
    flex-direction: column;
}

.herocontent div{
    border: 5px solid brown;
    width: 200px;
    flex: 1 1 auto;
}

.heroheader{
    flex: 2 1 auto;
}

/* box css */
.box{
    margin-left: 40px;
    margin-right: 40px;
}

.boxlist{
    display: flex;
    border: 5px solid brown;
}

.boxlistbox{
    border: 5px solid brown;
    height: 300px;
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
}

.boxlistbox div{
    border: 5px solid brown;
    width: 200px;
    flex: 1 1 auto;
}

.boximage{
    flex: 2 1 auto;
}

/* quote */
.quote{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;
}

.quote div{
    border: 5px solid brown;
    width: 700px;
}

.quoteauthor{
    flex: 3 1 auto;
}

/* cta */
.cta{
    display: flex;
    margin-left: 40px;
    margin-right: 40px;
}

.cta div{
    height: 200px;
    border: 5px solid brown;
}

.ctawords{
    width: 700px;
}

/* footer */
.footer{
    border: 5px solid brown;
    margin-left: 40px;
    margin-right: 40px;
}