/* alterate css box styling */
html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    margin: 0;
}

/* header css */
.header{
    display: flex;
    background: lightblue;
}

.subheader{
    display: flex;
    margin: 10px 40px;
    background: honeydew;
}

.subheader div{
    border: 5px solid brown; /* change this here! */
    height: max-content;
    flex: 1 1 0%;
    margin-top: auto;
}

.subheader .headerlogo{
    flex: 2 1 0%;
}

.subheader .headerlinkone{
    margin-left: 40px;
}

/* hero css */
.hero{
    display: flex;
    background: lightblue;
}

.subhero {
    display: flex;
    margin: 10px 40px;
    background: grey;
    border: 5px solid brown;
    width: 100%;
}

.subhero div{
    height: max-content;
}

.herocontent, .heroimage{
    border: 5px solid brown;
    height: 0px;
    flex: 1 1 0%
} 

.herocontent{
    display: flex;
    flex-direction: column;
}

.herocontent div{
    border: 5px solid brown;
    flex: 1 1 auto; /*makes it all flex equally in col axis*/
}

.heroheader{
    flex: 2 1 auto; /*makes it twice the size of body and button*/
}

.heroimage{
    margin: auto; /*centers heroimage*/
}

/* box css */
.box{
    display: flex;
    background: lightblue;
}

.subbox{
    margin: 10px 40px;
    width: 100%;
    background: yellow;
}

.boxheader{
    border: 5px solid brown;
}

.boxlist{
    display: flex;
    border: 5px solid brown;
}

.boxlistbox{
    border: 5px solid brown;
    height: max-content;
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
}

.boxlistbox div{
    border: 5px solid brown;
    flex: 1 1 auto;
}

.boximage{
    flex: 2 1 auto;
}

/* quote */
.quote{
    display: flex;
    background: lightblue;
}
.subquote{
    display: flex;
    flex-direction: column;
    margin: 10px 40px;
    width: 100%;
    background: lightgreen;
}

.subquote div{
    border: 5px solid brown;
}

.quoteauthor{
    flex: 3 1 auto;
    text-align: right;
}

/* cta */
.cta{
    display: flex;
    background: lightblue;
}

.subcta{
    display: flex;
    margin: 10px 40px;
    width: 100%;
    background: bisque;
}

.subcta div{
    height: max-content;
    border: 5px solid brown;
    width: 100%;
}

/* footer */
.footer{
    display: flex;
    background: lightblue;
}

.subfooter{
    border: 5px solid brown;
    margin: 10px 40px;
    width: 100%;
    background: gainsboro;
}